body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
 The following is necessary for fonts & icons to work. See https://github.com/GeekyAnts/NativeBase-KitchenSink/tree/web-support
 */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto_medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url('../fonts/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  /*font-family: 'MaterialCommunityIcons';*/
  font-family: 'Material Design Icons';
  src: url('~react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf')
    format('truetype');
}
